html,
body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
}

canvas {
    position: absolute;
    display: block;
    top: 0%;
    z-index: -10;
}

#wrapper {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

#upload-window-button {
    grid-column: 15;
    grid-row: 8;

    width: 72px;
    height: 72px;
    background-color: white;

    border: none;
    border-radius: 4px;
    transform: rotate(45deg);

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: background-color 0.2s ease-in;
}

#upload-window-button::before {
    position: absolute;
    content: "";

    width: 72px;
    height: 72px;
    background: linear-gradient(90deg, rgba(255, 210, 110, 1) 0%, rgba(255, 0, 168, 1) 100%);

    border-radius: 4px;
    transform: translate(-50%, -50%);

    opacity: 0%;
    transition: opacity 0.15s ease-in;
    z-index: 5;
}

#upload-window-button:hover::before {
    opacity: 8%;
    transition: opacity 0.15s ease-in;
}

#upload-window-button:active::before {
    opacity: 24%;
    transition: opacity 0s ease-in;
}

#upload-window-button::after {
    position: absolute;
    content: "";

    width: 64px;
    height: 64px;
    background: url("resources/upload.png") no-repeat 0px 0px fixed;

    transform: rotate(-45deg) translateY(-72%) scale(0.45);
    z-index: 10;
}

.modal {
    display: none;
    position: absolute;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
}

.modal-content {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: stretch;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;

    width: 40em;
    height: 40em;

    background-color: white;
    border-radius: 3px;
}

.modal-header {
    user-select: none;
    font-size: 28px;

    flex: 0 1 auto;
    padding: 20px 32px;
}

.modal-seperator {
    width : calc(100% - 5em);
    background-color: #aaa;
}

.modal-body {
    padding: 32px;
    flex: 1 1 auto;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 24px;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#upload-zone {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 100%;

    border: 1px dashed #aaa;
    border-radius: 8px;
}

#upload-zone.drag-enter {
    border: 1px solid rgb(155, 155, 255);
}

#upload-icon {
    font-size: 56px;
    color:#aaa;
}

#upload-text {
    font-size: 24px;
    color:#aaa;
}

#upload-icon.drag-enter, 
#upload-text.drag-enter {
    color:rgb(155, 155, 255);
}

#carousel {
    position: absolute;

    top: 64px;
    right: 64px;

    background-color: black;
}

.carousel-card {
    position: relative;

    background-color: aqua;
    border-radius: 10px;
}

.carousel-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.carousel-label {
    z-index: 20;
}